$dark-blue: #2C3878;
$black: #000000;
$white: #FFFFFF;
$light-gray: #9C9C9C;
$placeholder: #D9D9D9;
$dark-title: #333333;
$border: #141414;
$error: #EA4643;
$black-gradient: linear-gradient(0deg, rgba(0,0,0,0.7147233893557423) 0%, rgba(0,0,0,0.34217436974789917) 66%, rgba(251,251,251,0) 100%);
