<div class="team">
    <div class="containers">
    <div class="team__text-and-wallpaper">
        <div class="team__text-and-wallpaper-text">
            <h6 class="team__text-and-wallpaper-text-title">Minimalist Room</h6>
            <h6 class="team__text-and-wallpaper-text-desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h6>
        </div>
    
        <div class="team__text-and-wallpaper-wallpaper">
            <app-icon
            class="team__text-and-wallpaper-wallpaper-main"
            [isIcon]="false"
            [name]="'main.svg'"
            ></app-icon>
        </div>
    </div>

    <div class="team__card-side">
        <div class="team__card-side-row row">
        <div class="team__card-side__card col">
            <div class="team__card-side__card-top">
                <h6 class="team__card-side__card-top-title">Project Overview</h6>
                <p class="team__card-side__card-top-desc">
                    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. 
                </p>
            </div>
            <div class="team__card-side__card-bottom">
                <span class="team__card-side__card-bottom-date">July 22 - 2022</span>
                <span class="team__card-side__card-bottom-category">Interior Design - Furnitur</span>
            </div>
        </div>
        <div class="team__card-side__card col">
            <div class="team__card-side__card-top">
                <h6 class="team__card-side__card-top-title">Project Overview</h6>
                <p class="team__card-side__card-top-desc">
                    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. 
                </p>
                <p class="team__card-side__card-top-desc">
                    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. 
                </p>
            </div>
        </div>
        </div>
    </div>

    <div class="team__inter">
        <div class="team__inter__top">
            <div class="team__inter__top-image first">
                <app-icon
                class="team__inter__top-image-img"
                [isIcon]="false"
                [name]="'chair.svg'"
                [width]="100"
                [height]="100"
                ></app-icon>
            </div>

            <div class="team__inter__top-image">
                <app-icon
                class="team__inter__top-image-img"
                [isIcon]="false"
                [name]="'mirror.svg'"
                [width]="100"
                [height]="100"
                ></app-icon>
            </div>
        </div>
        <div class="team__inter__middle">
            <app-icon
            class="team__inter__top-image-img"
            [isIcon]="false"
            [name]="'coach.svg'"
            [width]="100"
            [height]="100"
            ></app-icon>
        </div>
        <div class="team__inter__top">
            <div class="team__inter__top-image first">
                <app-icon
                class="team__inter__top-image-img"
                [isIcon]="false"
                [name]="'lamp.svg'"
                [width]="100"
                [height]="100"
                ></app-icon>
            </div>

            <div class="team__inter__top-image">
                <app-icon
                class="team__inter__top-image-img"
                [isIcon]="false"
                [name]="'room.svg'"
                [width]="100"
                [height]="100"
                ></app-icon>
            </div>
        </div>
    </div>
    </div>

    <div class="team__discuss">
        <div class="team__discuss_cont containers">
            <div class="team__discuss__left">
                <h6 class="team__discuss__left-title">
                    let's discuss making your interior like a dream place!
                </h6>
            </div>
            <div class="team__discuss__right">
                <h6 class="team__discuss__right-title">
                    let's discuss making your interior like a dream place!
                </h6>
                <button class="team__discuss__right-btn">Contact Us</button>
            </div>
        </div>
    </div>

</div>
